<!--Intro Section-->
<section class="view intro-2">
    <div class="full-bg-img mask rgba-gradient">
      <div class="container flex-center">
        <div class="d-flex align-items-center content-height w-100">
          <div class="row flex-center pt-5 mt-3 w-100">
            <div class="col-md-6 col-xl-5 offset-xl-1">
              <!--Form-->
              <mdb-card class="wow fadeInRight" data-wow-delay="0.3s">
                <mdb-card-body>
                  <!--Header-->
                  <div class="text-center">
                    <h3 class="white-text">
                      <mdb-icon fas icon="user" class="text-black"></mdb-icon> Register:
                    </h3>
                    <hr class="hr-light">
                  </div>
<!--Body-->
<form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
        <label for="userId">Username</label>
        <input type="text" formControlName="userId" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.userId.errors }" />
        <div *ngIf="submitted && f.userId.errors" class="invalid-feedback">
            <div *ngIf="f.userId.errors.required">Username is required</div>
        </div>
    </div>
    <div class="form-group">
        <label for="emailAddress">Email Address</label>
        <input type="text" formControlName="emailAddress" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.emailAddress.errors }" />
        <div *ngIf="submitted && f.emailAddress.errors" class="invalid-feedback">
            <div *ngIf="f.emailAddress.errors.required">Email address is required</div>
        </div>
    </div>
    <div class="form-group">
        <label for="password">Password</label>
        <input type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
        <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
            <div *ngIf="f.password.errors.required">Password is required</div>
            <div *ngIf="f.password.errors.minlength">Password must be at least 8 characters</div>
        </div>
    </div>
    <div class="form-group">
        <button [disabled]="loading" class="btn btn-primary">
            <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
            Register
        </button>
        <a routerLink="/login" class="btn btn-link">Cancel</a>
    </div>
</form>
<!--Body-->

<div class="text-center mt-4">

    <hr class="hr-light mb-3 mt-4">
    <div class="inline-ul text-center d-flex justify-content-center">
      <a class="p-2 m-2 tw-ic">
        <mdb-icon fab icon="twitter" class="text-black"></mdb-icon>
      </a>
      <a class="p-2 m-2 li-ic">
        <mdb-icon fab icon="linkedin-in" class="text-black-50"></mdb-icon>
      </a>
      <a class="p-2 m-2 ins-ic">
        <mdb-icon fab icon="instagram" class="text-black-50"></mdb-icon>
      </a>
    </div>
  </div>
</mdb-card-body>
</mdb-card>
<!--/.Form-->
</div>
</div>
</div>
</div>
</div>
</section>