<!--Intro Section-->
<section class="view intro-2">
  <div class="full-bg-img mask rgba-gradient">
    background-image: url('FoterEx.PNG');
    height: 100vh;
    <div class="container flex-center">
      <div class="d-flex align-items-center content-height w-100">
        <div class="row flex-center pt-5 mt-3 w-100">
          <div class="col-md-6 text-center text-md-center mb-5">
            <div class="white-text">
              <h2 class="h1 h1-responsive font-bold wow fadeInCenter" data-wow-delay="0.3s">
                Sign up right
                now!
              </h2>
              <hr class="hr-light wow fadeInCenter" data-wow-delay="0.3s">
              <h6 class="wow fadeInCenter" data-wow-delay="0.3s">
                Sprouty is an application designed to provide a platform that will allow users to plan and support their
                gardens and house plants. This lightweight and intuitive application will allow plant enthusiasts of any
                experience to track when their plants will need water, where to grow plants in relation with others.
              </h6>
              <br>
              <a mdbBtn color="black" outline="true" class="wow fadeInLeft waves-light" data-wow-delay="0.3s" href="https://localhost:44319/create-account"
                 mdbWavesEffect>Create an account here! </a>

            </div>
          </div>

          <div class="col-md-6 col-xl-5 offset-xl-1">

          </div>
        </div>
      </div>
    </div>
  </div>
</section>
