


<div class="mask" style="   background-color:#8FBC8F">
  <h1>Create an account! </h1>
  <p>This is a simple example</p>

  <form #userLogin="ngForm" (ngSubmit)="onSubmit(userLogin.value)">
    <label>Username  </label>
    <input class="form-control" type="text" name=" Create your Username " ngModel>
    <br />
    <label>Email  </label>
    <input class="form-control" type="email" name="Email " ngModel>
    <br />
    <label>Password </label>
    <input class="form-control" type="password" name="Password " ngModel>
    <br />
    <label>Confirm Password </label>
    <input class="form-control" type="password" name="Confirm Password " ngModel>
    <br />
    <button class="btn btn-primary" type="submit">Create</button>

    <br />
  </form>
</div>
