<!--Intro Section-->
<section class="view intro-2">
  <div class="full-bg-img mask rgba-gradient ">
    <div class="container flex-center">
      <div class="d-flex align-items-center content-height w-100">
        <div class="row flex-center pt-5 mt-3 w-100">
          <div class="col-md-6 col-xl-5 offset-xl-1">
            <!--Form-->
            <mdb-card class="wow fadeInRight" data-wow-delay="0.3s">
              <mdb-card-body>
                <!--Header-->
                <div class="text-center">
                  <h3 class="white-text">
                    <mdb-icon fas icon="user" class="text-black"></mdb-icon> Sign up:
                  </h3>
                  <hr class="hr-light">
                </div>
                <!--Body-->
                
                <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                  <div class="md-form">
                    <mdb-icon fas icon="user" class="a"></mdb-icon>
                    <mdb-icon fas icon="envelope" class="text-black active"></mdb-icon>
                    <input type="text" formControlName="userId" class="form-control"
                      [ngClass]="{ 'is-invalid': submitted && f.userId.errors }" />
                    <label for="userId" class="text-black">Your name/email</label>
                    <div *ngIf="submitted && f.userId.errors" class="invalid-feedback">
                      <div *ngIf="f.userId.errors.required">Username is required</div>
                    </div>
                  </div>
                
                <div class="md-form">
                  <mdb-icon fas icon="lock" class="text-black active"></mdb-icon>
                  <input type="password" formControlName="password" class="form-control"
                  [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
                  <label for="password" class="text-black">Your password</label>
                    <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                      <div *ngIf="f.password.errors.required">Password is required</div>
                    </div>
                  </div>
               
                <div class="md-form">
                    <button [disabled]="loading" class="btn btn-primary">
                      <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                      Login
                    </button>
                    <a routerLink="/register" class="btn btn-link">Register</a>
                  </div>
                </form>
                <!--Body-->

                <div class="text-center mt-4">
                  <div class="inline-ul text-center d-flex justify-content-center">
                    <a class="p-2 m-2 tw-ic">
                      <mdb-icon fab icon="twitter" class="text-black"></mdb-icon>
                    </a>
                    <a class="p-2 m-2 li-ic">
                      <mdb-icon fab icon="linkedin-in" class="text-black-50"></mdb-icon>
                    </a>
                    <a class="p-2 m-2 ins-ic">
                      <mdb-icon fab icon="instagram" class="text-black-50"></mdb-icon>
                    </a>
                  </div>
                </div>
              </mdb-card-body>
            </mdb-card>
            <!--/.Form-->
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
