<!--header-->
<!--header-end-->
<!--Intro Section-->
<section class="view intro-2">
  <div class="full-bg-img mask rgba-gradient">
    <div class="container flex-center">
      
        
      
     
        <!-- Card -->    
          <div *ngFor="let obj of Users" >
            <div class="d-flex flex-row bd-highlight mb-3" >
            <div class="card" *ngFor="let user of obj">
          <!-- Custom class for applying ripple -->
          <a href="#!" class="example-class">
            <img src="{{user.img_url}}"
                 class="card-img-top"
                 alt="..." />
          </a>   
          <h5 class="card-title">{{user.name}}</h5>
            <a href="{{user.view_url}}" class="btn btn-primary">{{user.view}}</a>
          </div>
        
          </div>
        </div>
        
        


    
  

        <!-- Card -->
        <div class="row flex-center pt-5 mt-3 w-50">
          <div class="col-md-6 text-center text-md-left mb-5">
            <div class="white-text">
              
              <!-- Sidebar -->
              <!-- <nav id="sidebarMenu" class="collapse d-lg-block sidebar collapse bg-white">
                <div class="position-sticky">
                  <div class="list-group list-group-flush mx-3 mt-4">
                    <a href="#"
                       class="list-group-item list-group-item-action py-2 ripple"
                       aria-current="true">
                      <i class="fas fa-tachometer-alt fa-fw me-3"></i><span>My plants</span>
                    </a>
                    <a href="#" class="list-group-item list-group-item-action py-2 ripple active">
                      <i class="fas fa-chart-area fa-fw me-3"></i><span>Tips of the day</span>
                    </a>
                    <a href="#" class="list-group-item list-group-item-action py-2 ripple"><i class="fas fa-lock fa-fw me-3"></i><span>Password</span></a>
                    <a href="#" class="list-group-item list-group-item-action py-2 ripple"><i class="fas fa-chart-line fa-fw me-3"></i><span>Analytics</span></a>
                    <a href="#" class="list-group-item list-group-item-action py-4 ripple">
                      <i class="fas fa-chart-pie fa-fw me-3"></i><span></span>
                    </a>
                    <a href="#" class="list-group-item list-group-item-action py-2 ripple"><i class="fas fa-chart-bar fa-fw me-3"></i><span>Plans</span></a>
                    <a href="#" class="list-group-item list-group-item-action py-2 ripple"><i class="fas fa-globe fa-fw me-3"></i><span>Soil</span></a>
                    <a href="#" class="list-group-item list-group-item-action py-2 ripple"><i class="fas fa-building fa-fw me-3"></i><span>Location</span></a>
                    <a href="#" class="list-group-item list-group-item-action py-2 ripple"><i class="fas fa-calendar fa-fw me-3"></i><span>Calendar</span></a>
                    <a href="#" class="list-group-item list-group-item-action py-2 ripple"><i class="fas fa-users fa-fw me-3"></i><span>Users</span></a>
                    <a href="#" class="list-group-item list-group-item-action py-2 ripple"><i class="fas fa-money-bill fa-fw me-3"></i><span>About</span></a>
                  </div>
                </div>
              </nav> -->
              <!-- Sidebar -->

             
            </div>
          </div>
        </div>
      
    </div>
  </div>
</section>
